@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    font-family: 'iranyekan_numbers','iranyekan'; 
}
a {
    font-family: 'iranyekan_numbers','iranyekan'; 
}
button {
   font-family: 'iranyekan_numbers','iranyekan';
}
/*header*/
.header1{
    width: 95%;
    margin: auto;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.text {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5%;
}
.icons {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.icons ul li {
    float: right;
}
.icons ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style:none;
    list-style-image:url(list-item-ul.png);
}
.icons ul li a:link,.icons ul li a:visited {
    font-size: 20px;
    color: black;
    display: block;
    margin-left: 15px;
    text-decoration: none;
}
.icons ul::after {
    display: block;
    content: "";
    clear: both;   
}
.icons ul li a i {
    text-align: left;
}
.text ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.text ul::after {
    display: block;
    content: "";
    clear: both;   
}
.text ul li {
    float: right;
}
.text ul li a:link,.text ul li a:visited {
    font-size: 12px;
    color: black;
    display: block;
    margin-right: 15px;
    text-decoration: none;
}
#top-nav{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 15px;
    /*overflow: hidden;*/
}
ul#main-menu{
    /*border: 1px solid orange;*/
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#main-menu::after{
    display: block;
    content: "";
    clear: both;
}
ul#main-menu>li{
    float: right;
}
ul#main-menu>li>a:link,ul#main-menu>li>a:visited{
    display: block;
    width: 101px;
    height: 60px;
    text-align: center;
    padding-top: 17px;
    text-decoration: none;
    color: black;
    font-size: 12px;
}
ul#main-menu>li:first-child>a{
    border-radius: 0 5px 5px 0 ;
}
ul#main-menu>li>a>i{
    font-size: 18px;
}
#toggle_btn{
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    display: none;
}
div.line{
    height: 2px;
    background-color: b;
    margin: 6px 0 ;
}
main#content{
    /*border: 1px solid green;*/
    min-height: 400px;
    /*width: 690px;*/
    width: 69%;
    float: left;
}
.top-nav::before{
    content: " ";
    width: calc(100% - 40px);
    position: absolute;
    left: 20px;
    top: 10px;
    height: 60px;
    border-radius: 100%;
    z-index: 0;
    box-shadow: 0 0 40px #c5c5c5;
}

/*heder*/

/*slaider*/
 .panel_search{
    text-align: center;
    margin-top: 15px;
    color: #c2c2c2;
    font-size: 14px;
 }
 .panel_search a {
    color: #e13b5f;
    text-decoration: none;
 }
 .hr3 {
    border-style: dashed;
    border-width: 1px;
    color: #cecece;
    margin-top: 15px;
 }
 .box-link {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    color: #9d9d9d;;
 }
 
 .box-link a:link,.box-link>a:visited{
    margin: 0 8px 0 0;
    padding: 1px 3px;
    font-size:14px;
    color: #9d9d9d;
    border-radius: 6px;
    box-shadow: 0px 1px 1px 0.8px #cbcbcb;
    text-decoration: none;
}
.box-link a:hover {
    color: #fff;
    box-shadow: 0px 1px 1px 0.8px #31c9cf;
    background-color: #31c9cf;
}
.box-link p {
    margin-top: 5px;
}
.flex15 {
    display: flex;
}

.border4 {
    width: 92%;
    border: 1px solid #e6e6e6;
    min-height: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 60px;
}
/*slaider*/
.container{
    width: 90%;
    margin: 0 auto;   
}

.bxslider{
    width: 80%;
}
div.aks{
    margin-top: 15px;
}
#wrapper{
    /*border: 1px solid green;*/
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.item{
    width: 40%;
    height: 300px;
    /*border: 1px solid red;*/
    position: relative;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}
.item:hover>.overlay{
    opacity: 1.0;
}
.item:hover>img{
    transform: scale(1.3);
}
.item>img{
    transition: transform 0.5s;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1.0s;
}
.overlay div {
    width: 68%;
    margin: 0 auto;
    margin-top: 65px;
}
.overlay>p{
    margin-top: 110px;
}
.line-color{
    margin-top: 40px;
    border: 0;
    border-top: 0 solid transparent;
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#e13b5f);
    height: 45px;
    box-shadow: inset 0 -40px 40px 11px #fff;
}
div .flex2 {
    display: flex;
    flex-direction: row;
    width: 100%;  
    height: auto;
    gap: 40px;
}
 div .flex2  .left {
    width: 70%;
 }
 div .flex2 .left .border {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border_img.png)22 stretch;
    position: relative;
    margin: 20px auto 20px auto;
 }
 div .flex2 .left .border p {
    color: #565656;
 }
 div .flex2 .left .border span {
    font-weight: 400;
    font-size: 10px;
    margin: auto 6px;
    padding: 0 9px;
    border-radius: 28px;
    background-color: #fff5a7;
    color: #887f37;
    display: inline;
    cursor: pointer;
    font-family: 'iranyekan_numbers','iranyekan'; 
}
div .flex2 .left .border  a {
      text-decoration: none;
}
div .flex2 .left .border .top2 {
    position: absolute;
    left: 15px;
    top: 11px;
    color: #ff0043;
}
div .flex2 .left .border .top2 span {
    margin: 5;
    padding: 0;
    background-color: transparent;
    font-weight: bolder;
    font-size: 18px;
    color:#ff0043;
    margin-left: 0;
}
div .flex2 .left .pc {
    width:100%;
   display: flex;
   flex-direction: row-reverse;
   gap: 30px;
   margin-top: 15px;
}
.con2{
    background-color: white;
    border-radius: 10px 0px;
}
.con2 p{
    margin: 10px auto 20px;
    line-height: 27px;
    text-align: justify;
    font-weight: bold;
    text-align: right;
    padding: 5px;
    margin: 5px;
    font-size: 12px;
}
div .flex2 .left .pc .rast2 {
    width: 70%;
    margin-top: 40px;
}
div .flex2 .left .pc .rast2 h4 {
    font-size: 18px;
}
div .flex2 .left .pc .rast2 span{
    background-color: #ff0043;
    color: #fff;
    padding: 2px 6px;
    font-size: .75em;
    border-radius: 20px;
    margin: 5px;
    font-weight: 400;
}
div .flex2 .left .pc .rast2 a {
    text-decoration:none;
    color: black;
}
div .flex2 .left .pc .rast2 .flex3 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    margin-top: 15px;
}
div .flex2 .left .pc .rast2 .flex3 .col-1 {
    width:40%;
    border-right: 1px solid #f1f1f1;
}
div .flex2 .left .pc .rast2 .flex3 .col-2 {
    width:40%; 
    border-right: 1px solid #f1f1f1;
}
div .flex2 .left .pc .rast2 .flex3  .flex4{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
    gap: 25px;
}
div .flex2 .left .pc .rast2 .flex3 .flex4 ul{
    list-style-type: none;
    padding: 10px;
}
div .flex2 .left .pc .rast2 .flex3 .flex4 .bold{
    margin-right: -15px;
    font-weight: bold;
}
div .flex2 .left .pc .rast2 .flex3 .col3 {
    width: 20%;
    margin-top: 25px;
    text-align: center;
    margin-top: 32px;
    font-size: 25px;
}
div .flex2 .left .pc .left2 {
    width: 30%;
}
div .ul-btn ul{
    gap: 15px;
    display: flex;
    padding: 10px;
}
.left2 img {
    height: 263px;
    margin-top: 40px;
}
div .ul-btn a {
    text-decoration: none;
    color: #829061;
}
div .ul-btn li {
    list-style-type: none;
}
div .ul-btn  button{
    padding: 5px;
    border: 0;
    background-color: #f5ffdc;
    cursor: pointer;
    
}
.con2 .img3{
    margin: 0 auto;
    width: 95%;
}
.con2 .img3 img {
    width: 100%;
    margin-top: 25px;
}

/*btn-p*/
 div .btn-p {
    position: relative;
    z-index: 2;
    text-align: center;
    
 }
 div .btn-p a button {
    background-color: #2374ef;
    color: #fff;
    font-size: 1.3em;
    padding: 8px 22px;
    border-radius: 4px;
    border: 0;
    outline: 0;
 }
/*btn-p*/
/*foter*/
footer{
    background-image: url(footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 20px;
    margin: auto;
    position: relative;
    font-size: .87em;
    margin-top: 30px;
    box-shadow: 0px -6px 14px #f5f5f5;
    opacity: 2;
}

div .grid{
    display: grid;
    grid-gap: 2.75rem;
    grid-template-columns: repeat(4, minmax(0 , 1fr));
    margin-bottom: 50px;
    justify-content: center;
    margin-top: 25px;
}
div .grid ul li {
    list-style-type: none;
}
div .grid ul li a {
    text-decoration: none;
    color:#5d5b5b;
    font-size: 11px;
}
div .grid ul li a:hover {
    color: #000;
}
div .grid .flex5{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 15px;
}
div .grid .flex5 i{
    font-size: 25px;
}
.color3{
    color: #236fef;
}
.color5 {
    color: #ff0043;
}
.color6{
    color: #2fc4d2;
}
footer::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    content: "";
    top: 0;
    right: 0;
    left: 0;
}
footer .container {
    position: relative;
}
.flex6 {
    direction: ltr;
    display: flex;
    gap: 15px;
    flex-direction: row;
}
.flex6 p{
color: #8e8e8e;
font-size: 11px;
}
.flex6 i {
    color: #ff0043;
    font-size: 20px;
}
/*foter*/

/*sidbar*/
div .flex2 .rast {
    width: 25%;
    /*border: 1px solid darkblue;*/
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
 }
 .flex7 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 37px;
    align-items: center;
}
  .flex7 p {
    font-size: 10px;
    color: #b2b2b2;
  }
  .img img {
    width: 100%;
  }
  .flex8 {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    gap: 30px;
    margin-top: 10px;
  }
  .flex9 {
    width: 45% !important;
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#7251b5);
    border-radius: 30px;
    color: white;
    display: flex;
    gap: 15px;
  }
  .flex9 i {
    margin-top: 9px;
    margin-right: 11px;
  }
  .flex9 p {
    margin-top: 6px;
  }
  .flex10 {
    width: 43%;
    display: flex;
    margin: 0 auto;
    font-size: 27px;
    gap: 14px;
    color: #b2b2b2;
}
  .con3 {
    margin: 0 auto;
    margin-top: 20px;
  }
  .flex11 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 15px;
    padding: 5px;
    position: relative;
  }
  .flex11:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  }
  .con3 a {
    text-decoration: none;
    color: black;
  }
  .color7 {
    color: #6c6c6c;
  }
 .flex11 .stop1 {
    display: block;
 }
 .flex11 .stop2 {
    display: none;
 }
 .flex11:hover .stop1 {
    display: none;
 }
 .flex11:hover .stop2 {
    display: block;
 }
  .flex12 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
    list-style-type: none;
  }
  .hr2{
    margin-top: 25px;
  }
  .flex12 a {
    text-decoration: none; 
    color: #6c6c6c;   
  }
  .flex12 a:hover {
    color: #fff;
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#7251b5);
   -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 0%);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 0%);
    border-radius:5px;
  }
  .flex13 {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
  }
  .flex13 img {
    width: 70%;
  }
  .flex13 .rast3 {
    width: 50%;
  }
  .flex13 .left3 {
    width: 50%;
  }
  .flex13 a {
    text-decoration: none;
    color: #000;
  }
  .flex13 a :hover {
    color: #4a5cd3;
  }
  .prop_product {
    color: #626262;
    font-size: 10px;
    line-height: 23px;
  }
  .prop_product li {
    list-style-type: none;
  }
  .flex12 li :focus {
    color: #fff;
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#7251b5);
   -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 0%);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 0%);
    border-radius:5px;
    padding: 5px;
  }
  .img2 img{
    width:100%;
    height: 140px;   
}
.item1{
    width: 100%;;
    /*border: 1px solid red;*/
    position: relative;
    cursor: pointer;
    height: 110px;
}
.item1:hover>.overlay2{
    opacity: 0.5;
    background-color: rgba(89, 163, 206, 0.8);
}
.item1>img{
    transition: transform 0.5s;
}
.overlay1 {
    width: 100%;
    height: 101%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
    opacity: 1;
    transition: opacity 1.0s;
    overflow-x: hidden;
}
.overlay1 div {
    width: 100%;
}
.wrapper1 {
    position: relative;
    text-decoration: none;
    color: white; 
}
.wrapper1 p {
    position: absolute;
    bottom: 32px;
    right: 35px;
    z-index: 2;
    font-size: 18px;
}
.wrapper1 h5 {
    position: absolute;
    bottom: 79px;
    right: 20px;
    z-index: 2;
    font-size: 10px;
}
.box {
  width: 100%;
}
.box1 {
    height: 200px;
}
.box2 {
    height: 180px;
}
.h {
    top: 46px;
}
.p2 {
    top: 90px;
}
.img4 {
    position: relative;
}
.img4 img {
    width: 100%;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.item1 span {
    float: left;
    background-color: #ff0043;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 2px 1px;
    font-size: 11px;
    margin: 0 22px 0 8px;
    position: absolute;
    z-index: 5;
    transform: rotate(7deg);
    left: 18px;
    top: 40px;
    }
    .item1 span:before {
    background-color: #ff0043;
    width: 50px;
    height: 50px;
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    opacity: .5;
    transform: rotate(15deg);
    z-index: -1;
    }
    .item1 .h3 {
    position: absolute;
    bottom: 41px;
    right: 9px;
    z-index: 2;
    font-size: 9px;
    }
    .item1:hover .h3 , .item1:hover span {
        visibility: hidden;
        display: none;
        
    }
    .item1:hover .overlay3 {
        background-color: #ff0043;
        transition:  1.0s;
    }
    .overlay3 h3 {
        position: absolute;
        top: 38px;
        right: 78px;
        display: none;
    }
    .overlay3:hover h3 {
        display: block;
    }
    .wrapper1 h6 {
      position: absolute;
      bottom: 1px;
      z-index: 1;
      left: 44px;
      font-size: 55px;
      color: grey;
    }
    .flex-ul {
     display: flex;
     flex-direction: row;
     gap: 60px;
     justify-content: center;
     font-size: 12px;
     margin-top: 15px;
    }
    .flex-ul li {
    list-style-type: none;
    margin-bottom: 8px;
    }
    .flex-ul li a {
        text-decoration: none;
        color: #000;
    }
    .flex-ul li .color-li {
        color: #236fef;
    }

    .rast4 {
        width: 20%;
    }
    .rast3 img {
        width: 60%;
    }
    .flex15 {
        gap: 10PX;
        margin-top: 7px;
        padding-right: 15px;
    }
    .flex15 p {
        font-size: 10px;
        color: #a6a6a6;
    }
    .flex15 h6 {
        color: #1e66d4;
    }
    .border4 .left4 {
        margin-top: 12px;
        margin-left: 16px;
        font-size: 13px;
        color: #828282;
    }
    .widget_content {
        margin: 0 auto;
        width: 95%;
    }
    .blog_list a {
        text-decoration: none;
    }
    .blog_list li {
        list-style-type: none;
        border-bottom: 1px dashed #a7a7a7;
        height: 65px;
    }
    .blog_list p {
        font-size: 12px;
        color: #7d7d7d;
        margin-bottom: 50px;
    }
    .blog_list h5 {
       margin-top: 30px;
       color: #1e66d4;
    }
    #border1 {
        border: 0;
    }
    .img3{
        position: relative;
        top: 10px;
     }

/*sidbar*/
/*media*/
@media only screen and (max-width:1260px) {
    .flex12 {
        gap: 10px;
    }
    .flex12 a {
        font-size: 15px;
    }
    .flex9 p {
        margin-top: 8px;
        font-size: 10px;
    }
    .flex7 {
        font-size: 17px;
        width: 95%;
    }
    .flex10 {
        font-size: 20px;
        gap: 14px;
    }
    .item1 img {
        height: 109px;
    }
    .item1 .h3 {
       font-size: 7px;
    }
    .item1 span {
       left: 10px;
    }
    .box2 img{
       height: 180px;
    }
    .item1 h5 {
        font-size: 7px;
        text-align: center;
    }
    .wrapper1 h6{
        left: 16px;
    }
    .box2 h6 {
        left: 20px;
        bottom: 20px;
        font-size: 68px;
    }
    div .flex2 .left{
        width: 85%;
    }
    div .flex2 .left .border p {
        font-size: 8px;
    }

}
@media only screen and (max-width:1000px) {
    .item1 .h3 {
        font-size: 7px;
        top: 15px;
    }
}
@media only screen and (max-width:1033px) {
    .flex9{
        padding: 7px;
        font-size: 14px;
        gap: 6px;
    }
    .flex11 {
        font-size: 10px;
    }
    .flex7 {
        font-size: 15px;
        width: 95%;
    }
    div .flex2 .rast {
        width: 30%;
    }
}
@media only screen and (max-width:980px) {
    .container {
        width: 95%;
    }

    .item{
        height: 200px;
    }
    .flex9 {
        padding: 0;
        font-size: 12px; 
    }
    .flex10{
        font-size: 25px;
        gap: 12px;
    }
    .flex8 {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    div .flex2 .left .pc .rast2 h4 {
        font-size: 15px;
    }
}
@media only screen and (max-width:900px) {
    .flex13 .left3 {
        font-size: 15px;
    }
    .flex13 .left3 li {
        font-size: 8px;
 
}
}
@media only screen and (max-width:855px) {
    .flex11 {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .overlay3 h3 {
        right: 30px;
        }
    .item1 span {
        left: 1px;
       }  
       .flex12 a {
        font-size: 12px;
       }
      
    }
@media only screen and (max-width:767px) {
    #wrapper{
        flex-direction: column;
        align-items: center;
        gap: 10px;    
    }
    div .grid {
        grid-template-columns: repeat(2, minmax(0 , 1fr));
          }
    .overlay {
        width: 100%;
    }
    .item{
        width:80%;
        height: auto;
    }
   
    div .flex2 .left .pc .rast2 .flex3  .flex4{
        flex-direction: column;
        gap: 0;
    }
    div .flex2 .left .pc .rast2 a {
        font-size: 12px;
        margin-right: 0;
    }
    div .flex2 .left .pc .rast2 .flex3 .flex4 .bold {
        margin-right: 0;
        margin-top: -13px;
    }
    .flex-ul {
        gap: 20px;
        font-size: 8px;
    }
    ul#main-menu{
        display: block !important;
    }
    ul#main-menu{
        display: none;
    }
    ul#main-menu>li{
        float: none;
    }
    ul#main-menu>li>a:link,ul#main-menu>li>a:visited{
        width: auto;
    }
    #toggle_btn{
        display: inline-block;
    }
    #main-footer>.container{
        flex-direction: column;
    }
    .box-link {
        flex-direction: column;
    }
    .flex15 {
        justify-content: center;
    }

}
@media screen and (max-width: 736px) {
    .icons ul li a:link,.icons ul li a:visited {
    font-size: 18px;
    }
    .text ul li a:link,.text ul li a:visited {
        font-size: 11px;
    }
}
@media screen and (max-width: 688px) {
    .icons ul li a:link,.icons ul li a:visited {
        font-size: 16px;
    }    
    .text ul li a:link,.text ul li a:visited {
        font-size: 10px;
    }
}
@media only screen and (max-width:700px) {
    .flex12 a {
        font-size: 10px;
    }
}

@media only screen and (max-width:665px) {
    div .flex2 .left .border p {
        font-size: 9px;
    }
    .item1 h5 {
        font-size: 14px;
    }
    .overlay3 h3 {
        left: 70px;
    }
    .item1 span {
        left: 66px;
    }
    .item1 .h3 {
        font-size: 13px;
        top: 53px;
    }
    .flex12 {
        gap: 25px;
    }
    .flex12 a {
        font-size: 17px;
    }
    .flex9 p {
        margin-top: 13px;
        font-size: 20px;
    }
    #wrapper{
        flex-direction: column;
    }
    div .flex2 .left .pc {
        flex-direction: column-reverse;
        align-items: center;
    }
    div .flex2 .left .pc .rast2 {
        width: 100%;
    }
    div .flex2 .left .pc .left2 {
        width: 60%;
    }
    div .flex2{
        flex-direction: column;
        align-items: center;
    }
    div .flex2 .rast {
        width: 75%;
    }
    div .flex2 .left .border {
        width: 100%;
    }
    .con2 h4 {
        font-size:12px ;
    }
    div .grid {
        grid-template-columns: repeat(1, minmax(0 , 1fr));
        width: 50%;
        margin: 0 auto;
    }
    .flex7 h6 {
        font-size: 20px;
    }
    .flex7 p {
        font-size: 16px;
    }
    .flex9 {
        padding: 9px;
        font-size: 32px;
    }
    .flex10 {
        justify-content: center;
    }
    .flex11 {
        font-size: 18px;
    }
    .flex13 {
        flex-direction: column;
        width: 90%; 
        align-items: center;
    }
    .flex13 .rast3 {
        width: 90%;
    }
    .flex13 .left3 {
        width: 100%;
        text-align: center;
   }
}
@media screen and (max-width: 641px) {
    .icons ul li a:link,.icons ul li a:visited {
        font-size: 14px;
    }    
    .text ul li a:link,.text ul li a:visited {
        font-size: 9px;
    }
}
@media screen and (max-width: 593px) {
    .icons ul li a:link,.icons ul li a:visited {
        font-size: 12px;
    }    
    .text ul li a:link,.text ul li a:visited {
        font-size: 7px;
    }
}
@media screen and (max-width: 497px) {
    .icons ul li a:link,.icons ul li a:visited {
        margin-left: 13px;
    }    
    .text ul li a:link,.text ul li a:visited {
        margin-right: 13px;
    }
}
@media screen and (max-width: 476px) {
    .icons ul li a:link,.icons ul li a:visited {
        margin-left: 11px;
    }    
    .text ul li a:link,.text ul li a:visited {
        margin-right: 11px;
    }
}
@media screen and (max-width: 455px) {
    .container {
        width: 97%;
    }
    .icons ul li a:link,.icons ul li a:visited {
        margin-left: 10px;
    }    
    .text ul li a:link,.text ul li a:visited {
        margin-right: 10px;
    }
}
@media screen and (max-width: 435px) {
    .text {
        width: 32%;
    }
    .icons {
        width: 32%;
    }
}
@media only screen and (max-width:570px) {
    div .flex2 .left .border p {
            font-size: 7px;
        }
}
@media only screen and (max-width:400px) {    
    .flex2 {
        flex-direction: column;
        align-items: center;
    }
}


 
