@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    direction: rtl;
    font-family: 'iranyekan_numbers','iranyekan';
}
.container{
    /*border: 1px solid red;*/
    width: 90%;
    min-height: 300px;
    margin: 0 auto;   
}
.bxslider{
    width: 80%;
}
div.aks{
    margin-top: 15px;
}
#wrapper{
    /*border: 1px solid green;*/
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.item{
    width: 40%;
    height: 300px;
    /*border: 1px solid red;*/
    position: relative;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
}
.item:hover>.overlay{
    opacity: 1.0;
}
.item:hover>img{
    transform: scale(1.3);
}
.item>img{
    transition: transform 0.5s;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 1.0s;
}
.overlay div {
    width: 68%;
    margin: 0 auto;
    margin-top: 65px;
}
.overlay>p{
    margin-top: 110px;
}
.line-color{
    margin-top: 40px;
    border: 0;
    border-top: 0 solid transparent;
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#e13b5f);
    height: 45px;
    box-shadow: inset 0 -40px 40px 11px #fff;
}

div .flex2 {
    display: flex;
    flex-direction: row;
    width: 100%;  
    height: auto;
    gap: 40px;
}
div .flex2 .rast {
    width: 25%;
    /*border: 1px solid darkblue;*/
 }
 div .flex2  .left {
    width: 70%;
    /*border: 1px solid firebrick;*/
 }
 div .flex2 .left .border {
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(border_img.png)22 stretch;
    position: relative;
    margin: 20px auto 20px auto;
 }
 div .flex2 .left .border p {
    text-align: right;
    color: #565656;
 }
 div .flex2 .left .border span {
   font-weight: 400;
   font-size: .88em;
   margin: auto 8px;
   padding: 0 5px;
   border-radius: 28px;
   background-color: #fff5a7;
   color: #887f37;
   display: inline;
   cursor: pointer;
}
div .flex2 .left .border  a {
      text-decoration: none;
}
div .flex2 .left .border .top2 {
    position: absolute;
    left: 0;
    top: 0;    
    color:#ff0043;
}
div .flex2 .left .border .top2 span {
    margin: 5;
    padding: 0;
    background-color: transparent;
    font-weight: bolder;
    font-size: 18px;
    color:#ff0043;
}
div .flex2 .left .pc {
    width:100%;
   display: flex;
   flex-direction: row-reverse;
   gap: 30px;
   margin-top: 15px;
}
.con2{
    background-color: white;
    border-radius: 10px 0px;
}
.con2 p{
    margin: 10px auto 20px;
    line-height: 27px;
    text-align: justify;
    font-weight: 500;
    text-align: right;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
}
div .flex2 .left .pc .rast2 {
    width: 70%;
    margin-top: 40px;
}
div .flex2 .left .pc .rast2 h4 {
    text-align: center;
}
div .flex2 .left .pc .rast2 span{
background-color: #ff0043;
    color: #fff;
    padding: 2px 6px;
    font-size: .75em;
    border-radius: 20px;
    margin: 5px;
    font-weight: 400;
}
div .flex2 .left .pc .rast2 a {
    text-decoration:none;
    color: black;
    margin-right: 10px;
}
div .flex2 .left .pc .rast2 .flex3 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    margin-top: 15px;
}
div .flex2 .left .pc .rast2 .flex3 .col-1 {
    width:40%;
    border-right: 1px solid #f1f1f1;
}
div .flex2 .left .pc .rast2 .flex3 .col-2 {
    width:40%; 
    border-right: 1px solid #f1f1f1;
}
div .flex2 .left .pc .rast2 .flex3  .flex4{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    justify-content: center;
    list-style-type: none;
    margin-top: 20px;
    gap: 25px;
}
div .flex2 .left .pc .rast2 .flex3 .flex4 ul{
    list-style-type: none;
    padding: 10px;
}
div .flex2 .left .pc .rast2 .flex3 .flex4 .bold{
    margin-right: -15px;
    font-weight: bold;
}
div .flex2 .left .pc .rast2 .flex3 .col3 {
    width: 20%;
    margin-top: 25px;
    text-align: center;
    margin-top: 32px;
    font-size: 25px;
}
div .flex2 .left .pc .left2 {
    width: 30%;
}
div .ul-btn{
    direction: rtl;
}
div .ul-btn ul{
    gap: 15px;
    display: flex;
    padding: 10px;
}
div .ul-btn a {
    text-decoration: none;
    color: #829061;
}
div .ul-btn li {
    list-style-type: none;
}
div .ul-btn  button{
padding: 10px;
border: 0;
background-color: #f5ffdc;
cursor: pointer;
border-radius: 5px;
}
.con2 .img3{
    margin: 0 auto;
    width: 95%;
}
.con2 .img3 img {
    width: 100%;
    margin-top: 25px;
}

/*btn-p*/
 div .btn-p {
    position: relative;
    z-index: 2;
    text-align: center;
    bottom: 70px;
    
    
 }
 div .btn-p a button {
    background-color: #2374ef;
    color: #fff;
    font-size: 1.3em;
    padding: 8px 22px;
    border-radius: 4px;
    border: 0;
    outline: 0;
 }
 /*btn-p*/
/*foter*/
footer{
    background-image: url(footer_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 20px;
    margin: auto;
    position: relative;
    font-size: .87em;
    margin-top: 30px;
    box-shadow: 0px -6px 14px #f5f5f5;

}
/*foter*/

/*media*/
@media only screen and (max-width:980px) {
    .container {
        width: 95%;
    }
    .item{
        height: 200px;
    }
    div .flex2 .left .pc .rast2 h4 {
        font-size: 15px;
    }
}
@media only screen and (max-width:767px)   {
    #wrapper{
        flex-direction: column;
        align-items: center;
        gap: 10px;    
    }
    .overlay {
        width: 100%;
    }
    .item{
        width:55%;
        height: auto;
    }
    .left2 img {
        margin-top: 65px;
    }
    div .flex2 .left .pc .rast2 .flex3  .flex4{
        flex-direction: column;
        gap: 0;
    }
    div .flex2 .left .pc .rast2 a {
        font-size: 12px;
        margin-right: 0;
    }
    div .flex2 .left .pc .rast2 .flex3 .flex4 .bold {
        margin-right: 0;
        margin-top: -13px;
    }
} 
@media only screen and (max-width:665px) {
    #wrapper{
        flex-direction: column;
    }
    div .flex2 .left .pc {
        flex-direction: column-reverse;
        align-items: center;
    }
    div .flex2 .left .pc .rast2 {
        width: 100%;
    }
    div .flex2 .left .pc .left2 {
        width: 60%;
    }
    div .flex2{
        flex-direction: column;
        align-items: center;
    }
    div .flex2 .rast {
        width: 75%;
    }
    div .flex2 .left .border {
        width: 100%;
    }
    .con2 h4 {
        font-size:12px ;
    }
}



 
