@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}

 

.container{
    /*border: 1px solid red;*/
    width: 80%;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 15px;
}
.bxslider{
    width: 80%;
}
 

